.logon-container { /*div por volta de tudo*/
    width: 100%;
    max-width: 1120px;
    height: 100vh; /* para que ocupe a altura toda */
    margin: 0 auto; /* conteudo sempre centralizado */

    display: flex; /* altamente usado hoje na web */
    align-items: center; /* alinha verticalmente os itens */
    justify-content: space-between; /* alinha horizontalmente os itens */
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}
